@model MovieApp.Web.Models.Movie

<div class="movie-card">
    <h2>@Model.Title</h2>
    <p>Year: @Model.YearOfRelease</p>
    <p>Price: @Model.Price.ToString("C")</p>

    @if (Model.DiscountedPrice.HasValue)
    {
        <p>Discounted Price: @Model.DiscountedPrice.Value.ToString("C")</p>
    }

    @if (Model.Genres != null && Model.Genres.Any())
    {
        @foreach (var genre in Model.Genres)
        {
            <p>@genre.Name </p>
        }
    }
</div>